* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-clip: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  width: calc(100vw - (100vw - 100%));
}

.header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* TABLET */
@media (min-width: 768px) {
}

/* DESKTOP */
@media (min-width: 1200px) {
}
