* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-clip: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}

p {
  font-size: 1.2em;
}

body {
  width: calc(100vw - (100vw - 100%));
  background-color: rgb(51, 51, 51);
  color: rgb(218, 218, 218);
}

.header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: rgb(16, 16, 16);
}

.menu-item {
  text-decoration: none;
  font-size: 1.5em;
  color: #8c4040;
  padding: 0.2em 0.5em;
}

.menu-item:hover {
  background-color: #cb9d9d;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

main {
  padding: 10px;
}

.section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.section-title {
  font-size: 1.7em;
  filter: drop-shadow(0px 2px 1px rgba(255, 0, 0, 0.2));
}

.accent {
  color: #8c4040;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product {
  display: flex;
  gap: 5px;
  padding: 0.7em 1em;
  background-color: #8c4040;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.product-image {
  width: 50%;
}

.product-image {
  width: 50%;
}

.product-description {
  width: 50%;
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.9));
  align-self: center;
}

.footer-text {
  width: 75%;
  margin: auto;
}

/* TABLET */
@media (min-width: 768px) {
}

/* DESKTOP */
@media (min-width: 1200px) {
}
